.dashboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2%;
  background-color: #2b2f37;
}

.card {
  background: rgb(20, 17, 49);
  padding: 32px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
  margin-bottom: 24px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.field label {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #374151;
}

.field input,
.field select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 0.95rem;
}

.field input:focus,
.field select:focus {
  outline: none;
  border-color: #2563eb;
}

.primary-btn {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #1d4ed8;
}

.primary-btn2 {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  background-color: #133681;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.primary-btn2:hover {
  background-color: #051746;
}

.expense-table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.expense-table th {
  font-weight: 600;
  background-color: #f9fafb;
}

.secondary-btn {
  padding: 10px 14px;
  margin-bottom: 16px;
  background: #374151;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit-btn {
  background-color: #1ba77d;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1em;
}

.delete-btn {
  background-color: #f80404;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}
